<server name="irc.pound.chat"
	description="IRC"
	id="1AB"
	network="pound">

<admin name="ian"
       nick="ian"
       email="ian@localhost">

#<openssl cafile="conf/ca.pem" crlfile="conf/crl.pem" certfile="conf/cert.pem" keyfile="conf/key.pem" dh_bits="4096">
<openssl
  cafile="conf/caroot.pem"
	certfile="conf/server.crt"
	keyfile="conf/server.key"
	dh_bits="4096"
	hash="sha1"
>

# Bind on all available addresses for our interface
<bind address="" port="6697" type="clients" ssl="openssl">
<bind address="" port="7000" type="servers" ssl="openssl">

<connect name="signed"
	allow="*"
  timeout="20"
  pingfreq="120"
  sendq="262144"
  recvq="4096"
  modes="+iw"
	requiressl="trusted"
	requireaccount="yes"
>
<connect name="general"
	allow="*"
  timeout="20"
  pingfreq="120"
  sendq="262144"
  recvq="4096"
  modes="+iw"
	requiressl="yes"
#	requireaccount="yes"
>
<connect name="prereg"
	allow="*"
	useident="no"
	registered="no"
>

<channels
	users="60"
  opers="60">

<options prefixquit="Quit: "
  suffixquit=""
	prefixpart=""
	sufficpart=""
	syntaxhints="yes"
	invitebypassmodes="no"
  noservices="yes"
  qaprefixes="no"
  deprotectself="no"
  deprotectothers="no"
  cyclehosts="no"
  ircumsgprefix="no"
  announcets="yes"
  disablehmac="no"
  hostintopic="yes"
  quietbursts="yes"
  pingwarning="15"
	serverpingfreq="60"
  allowhalfop="no"
	defaultmodes="nt"
	moronbanner="Bye, now."
	exemptchanops="fFNTgJB">

<performance
	quietbursts="no"
	maxwho="128"
	softlimit="64"
	somaxconn="12"
	netbuffersize="10240"
	nouserdns="no">

<security announceinvites="dynamic"
	hidemodes="eI"
	hideulines="no"
	flatlinks="no"
	hidewhois=""
	hidebans="no"
	hidekills=""
	hidesplits="yes"
	maxtargets="20"
	customversion=""
	operspywhois="yes"
	restrictbannedusers="yes"
	genericoper="no"
	userstats="Pu">

<limits maxnick="31"
	maxchan="32"
	maxmodes="20"
	maxident="12"
	maxquit="256"
	maxtopic="368"
	maxkick="256"
	maxgecos="64"
	maxaway="256">

<whowas
	groupsize="10"
  maxgroups="100000"
  maxkeep="3d">

<timesync enable="no" master="no">
<banlist chan="*" limit="128">
<power diepass="CHANGEME1234" restartpass="CHANGEME1234s" pause="2">
#<dns server="8.8.8.8" timeout="4">
<dns server="<%= nameserver %>" timeout="4">
