#!/bin/bash

# INVOCATION: bash $0
# LOGS: $storagedir/$prefix-DATESTAMP.log
# NOTES:
# - Install this in your crontab on an appropriate schedule. Filenames are to minute resolution.

# To do:
# [1] Parameterize run interval and use it in race mitigation when two regions active
# [2] Datestamp all log lines - tricky due to AWS response output being multiline

# INFRASTRUCTURE PARAMETERS - SET FROM CONFIG. MGMT.
servicesname='<%= #{node[:services_name]} %>'
servicesversion='<%= #{node[:services_version]} %>'
awsregion='<%= #{node[:aws_region]} %>'
s3regions=('<%= #{node[:primary][:region]} %>' '<%= #{node[:secondary][:region]} %>')
s3buckets=('<%= #{node[:primary][:s3_bucket]} %>' '<%= #{node[:secondary][:s3_bucket]} %>')
s3apppath=releases/
s3certpath=certificates/
snstopic='<%= #{node[#{node[:environment_name]}][:sns_topic]} %>'
# END INFRASTRUCTURE PARAMETERS

# CONFIGS 
storagedir="backups"
backuppaths=("${servicesname}-${servicesversion}/run/data" "/etc/letsencrypt")
awspath="$(which aws)"
s3options='--sse --storage-class STANDARD_IA --debug' # add some params for the s3 cp operation here - debug for verbose log output
min_long_run_time=10 # minimum seconds before a warning code will be sent even if backup was successful
max_long_run_time=30 # next trigger for a bigger warning (seconds)
prune_s3=0 # to delete backups older than $remote_backup_retention or not (boolean)
remote_backup_retention=90 # number of archives to keep in s3 at any given time
local_backup_retention=7 # number of archives to keep on local disk at any given time
# END CONFIG

# Basic API validation and retry support
function AwsApiCall () { 
	unset AwsApiResponse
	unset ApiSuccess
	ApiRetries=0
	
	while [[ "$ApiSuccess" -ne 1 ]] ; do
		AwsApiResponse=`$awspath $1`
		
		# If we call S3, trap specific errors in addition to exit code
		if [[ \
			`echo $1 | awk '{ print $1 }'` == 's3' && \
			$? -eq 0 && \
			`echo "$AwsApiResponse" | grep -Pi "(stacktrace|unable|does not match MD5 checksum|exit status is '1')"` \
	  ]] ; then
			failcode=$(($failcode + 1))
			echo "$AwsApiResponse" >> $logfile
		elif [ $? -eq 0 ] ; then 
			ApiSuccess=1
		else 
			if [ "$2" != 'RetryIndefinitely' ] ; then
				if [ $ApiRetries -eq 5 ]] ; then break ; fi
				ApiRetries=$[$ApiRetries + 1]
				sleep 5
			fi
		fi
	done
	
	if [[ "$3" == 'ExitOnRetriesExhausted' && $ApiRetries -eq 5 ]] ; then
		>&2 echo -e "\n API call failed to return success (tried 5 times)!\n\nLast Response Body:\n${AwsApiResponse}"
		exit
	fi
}

# Create the local backup directory
test [ ! -d ${storagedir} ] && mkdir ${storagedir}

# Get some metadata and create some variables
instanceid='<%= #{node[:ec2][:instance_id]} %>'
curdate=$(date -u '+%Y%m%d%H%M')

# Logfile generated 
logfile="${storagedir}/${prefix}-${curdate}.log"
date > $logfile

# Assume it will all go well
failcode=0

# Start timer
total_start_time=$(date +%s)

# Check if this job is already running
if [ -e backup.lock ] ; then
	echo '[!] Lock file found - Script already running' >> $logfile
	exit 1
fi

x=0
while [ $x -lt ${#backuppaths[@]} ] ; do
	if [ $x -eq 0 ] ; then
		prefix=$servicesname
		s3paths=("${s3buckets[0]}/${s3apppath}" "${s3buckets[1]}/${s3apppath}"))
	else
		prefix=letsencryptconfig
		s3paths=("${s3buckets[0]}/${s3certpath}" "${s3buckets[1]}/${s3certpath}"))
	fi
	archivename=${prefix}-${curdate}.tar.gz

	# Generate md5sum based on metadata of files in backup targets
	echo "[+] Generating md5..." >> $logfile
	backupmd5=$(ls -la ${backuppaths[$i]} | md5sum | cut -d ' ' -f 1)

	# Compare archive to previous -- do not upload this one if hash comparison shows that they are identical
	lastarchive=$(ls -1 ${storagedir}/${prefix}-*.tar.gz | tac | head -n2 | awk 'NR == 2 { print }' | sed 's/\.tar.gz$//')
	if [[ ! -e "${storagedir}/${lastarchive}.md5" ]] || [[ "$(cat ${storagedir}/${lastarchive}.md5)" != "${backupmd5}" ]] ; then
		echo "[!] Processing $prefix backup job..." >> $logfile
		echo "[+] Archiving $prefix..." >> $logfile
		tar cfz $archivename ${backuppaths[$x]}
		echo $backupmd5 > "${prefix}-${curdate}.md5"
		
		echo "[+] Uploading $prefix to S3..." >> $logfile
		r=0
		while [ $r -le $((${#s3regions[@]} - 1)) ] ; do
			# Abort if upload has already occurred within the last run interval
			# TODO1: Parameterize run interval reference it for comparison
			AwsApiCall 's3 --region ${s3regions[$r]} ls --debug s3://${s3paths[$r]}/' 'ExitOnRetriesExhausted'
			lastupload_readable=`echo $AwsApiResponse | grep $prefix | sort -r | head -n 1 | cut -d' ' -f1-2`
			lastupload_epoch=`date -d "$lastupload_readable" +%s`
			if [ $lastupload_epoch -lt $[$lastupload_epoch - 85500] ] ; then
				echo '[!] Race! A backup already occurred within the run interval. Skipping.' >> $logfile
				continue
			fi

			# Do the backup to s3
			AwsApiCall 's3 --region ${s3regions[$r]} cp ${s3options} ./$archivename s3://${s3paths[$r]}' 'ExitOnRetriesExhausted'
			# Copy the backup in s3 with suffix -current for config mgmt to retrieve
			AwsApiCall 's3 --region ${s3regions[$r]} cp ${s3options} s3://${s3paths[$r]}/$archivename s3://${s3paths}/${prefix}-current.tar.gz' 'ExitOnRetriesExhausted'

			r=$(($r + 1))
		done

		# Delete archives in S3 if there are more than the allotted number to be retained
		# This isn't necessary if you use a bucket policy to remove files of a certain age
		if [ $prune_s3 -eq 1 ]	; then
			curremotebackups=(`${awspath} s3 ls s3://${s3path} | grep ${prefix}- | sort | awk '{print $4}' | cut -d '/' -f 5`)
			if [ ${#curremotebackups[@]} -ge $remote_backup_retention ] ; then
			        echo "[+] Deleting oldest $prefix backup archive in S3..." >> $logfile
				numoldbackups=$((${#curremotebackups[@]} - $remote_backup_retention))
				oldremotebackups=(`echo ${curremotebackups[@]} | cut -d' ' -f -${numoldbackups}`)
				for oldfile in ${oldremotebackups[@]} ; do
				        ${awspath} s3 rm --region $awsregion s3://${s3path}${oldfile}
				done
			fi
		fi

		# Delete local backups in ${storagedir} if there are more than the allotted number to be retained
		curlocalbackups=(`ls -tr | grep -Po "${prefix}-(\d{12})" | uniq`)
		if [ ${#curlocalbackups[@]} -ge $local_backup_retention ] ; then
			numoldbackups=$((${#curlocalbackups[@]} - $local_backup_retention))
			if [ $numoldbackups -lt 0 ] ; then numoldbackups=0 ; fi
			oldlocalbackups=($(echo ${curlocalbackups[@]} | cut -d' ' -f -${numoldbackups}))
		        echo "[+] Deleting oldest $prefix backup archive(s) locally..." >> $logfile
			for oldfile in ${oldlocalbackups[@]} ; do
			        rm ${oldfile}*
			done
		fi
	else
		echo '[!] Nothing has changed between backups. Skipping.' >> $logfile
	fi

	x=$[$x + 1]
done

total_finish_time=$(date +%s)
total_execution_time=$(($total_finish_time - $total_start_time))

# If script takes longer than a specified period, warn, and if even longer, error out!
if [[ $total_execution_time -ge $min_long_run_time && $total_execution_time -lt $max_long_run_time ]] ; then
	failcode=$(($failcode + 2))
elif [ $total_execution_time -ge $max_long_run_time ] ; then
	failcode=$(($failcode + 4))
fi

# Construct the message we will post to an SNS topic on the result of this backup job
postmsg="Backup job on $instanceid completed with"

# Determine job completion status and construct error message if necessary
if [[ $(($failcode & 1)) -eq 1 ]] ; then 
	postmsg="$postmsg error (upload failed)"
	resultcode='failed'
else
	postmsg="$postmsg success"
	resultcode='success'
fi

# Finally add how long the job took to compelte
postmsg="${postmsg} Job ran "
if [[ $(($failcode & 2)) -eq 2 ]] ; then 
	postmsg="$postmsg and was a bit slow"
elif [[ $(($failcode & 4)) -eq 4 ]] ; then
	postmsg"$postmsg and was quite slow"
fi
postmsg="$postmsg (${total_execution_time}s)"

echo "[+] $postmsg" >> $logfile

## Publish our message to an SNS topic
# echo $postmsg
echo "[!] Sending message to SNS topic!" >> $logfile
${awspath} --region $awsregion sns publish --topic-arn $snstopic --subject "Server backup job notification ($resultcode)" --message "$postmsg" 2>&1 >> $logfile

echo "[!] Done!" >> $logfile

test [ $failcode -eq 1 ] && exit 1 || exit 0

#EOF