#!/bin/bash

# Get the current date as seconds since epoch.
NowEpoch=$(date +%s)
Now=$(date '+%Y-%m-%d %H:%M:%S')
echo "[${Now}] beginning cert renewal interrogation process"

IrcdSettingsPath='<%= ircd_working_path %>/run/conf'
IrcdCertPath="${IrcdSettingsPath}/server.crt"
IrcdKeyPath="${IrcdSettingsPath}/server.key"

LeArchivePath='<%= letsencrypt_cert_path %>'
LeCertPath="${LeArchivePath}/fullchain.pem"
LeKeyPath="${LeArchivePath}/privkey.pem"

# Only renew the certificate if it has <= 7 days of lifetime left
# https://github.com/ScottHelme/Lets-Encrypt-Smart-Renew/blob/master/smartRenew.sh

# Get the expiry date of our certificate.
LeCertExpiry=$(sudo openssl x509 -in $LeCertPath -noout -enddate)
# Trim the unecessary text at the start of the string.
LeCertExpiry=${LeCertExpiry#*=}
# Convert the expiry date to seconds since epoch.
LeCertExpiry=$(date --date="$LeCertExpiry" +%s)
# Calculate the time left until the certificate expires.
CertLifetime=$(($LeCertExpiry - $NowEpoch))
# The remaining life on our certificate below which we should renew (7 days).
CertRenewalDuration=604800
# If the certificate has less life remaining than we want.
if (($CertLifetime < $CertRenewalDuration)) ; then
	echo "[${Now}] renewing cert"

	/usr/bin/certbot \
		--debug certonly \
		-d <% primary_fqdn %> -d ircs.pound.chat -d chat.pound.chat -d pound.chat \
		--config /etc/letsencrypt/cli.ini

	if [ $? -ne 0 ] ; then
		echo >&2 'failed to renew cert'
		exit
	fi
else
	echo "[${Now}] not renewing cert yet"
fi

# Find the checksum of LE maintained cert/key
LeCertChecksum=`sudo sha256sum $LeCertPath | awk '{ print $1}'`
LeKeyChecksum=`sudo sha256sum $LeKeyPath | awk '{ print $1}'`

# if the IRCD cert and key exist, let's hack them
if [[ -f $IrcdCertPath && -f $IrcdKeyPath ]] ; then
	# find out the ircd cert and key checksums
	IrcdCertChecksum=`sha256sum $IrcdCertPath | awk '{ print $1 }'`
	IrcdKeyChecksum=`sha256sum $IrcdKeyPath | awk '{ print $1 }'`

	# If checksums don't match, overwrite ircd's cert with that maintained by LE
	if [[ $LeCertChecksum != $IrcdCertChecksum ]] ; then
		echo "[${Now}] copying cert"
		sudo cp -pf $LeCertPath $IrcdCertPath
		UpdateTrue=1
	fi

	# If checksums don't match, overwrite ircd's key with that macintained by LE
	if [[ $LeKeyChecksum != $IrcdKeyChecksum ]] ; then
		echo "[${Now}] copying key"
		sudo cp -pf $LeKeyPath $IrcdKeyPath
		UpdateTrue=1
	fi

	# if we copied the new cert/key into ircd control, now we need to send a rehash signal for the ssl bindings
	if [ "$UpdateTrue" == 1 ] ; then
		# Send signal to ircd to reload SSL binding
		echo "[${Now}] sending signal"
		kill -10 `pgrep <% ircd_name %>`

		# Publish to SNS
		aws sns publish --topic-arn <% sns_notification_arn %> --subject "Server SSL certificate renewed" --message "ircd SSL certificate was renewed through certbot and restarted!"
		if [ $? -ne 0 ] ; then
			echo >&2 "[${Now}] could not publish to sns!"
		else
			echo "[${Now}] sent sns message"
		fi
	else
		echo "[${Now}] not reconfiguring ircd yet"
	fi
else
	echo "[${Now}] not comparing or updating cert as the location is invalid (cert/key do not exist or inaccesible)"
fi
