#!/usr/bin/expect

exp_internal 1
spawn ./Config

# Base path
expect "*run\] " {
	send "/home/ec2-user/<%= "#{node[:ircd_name]}+"-"+#{node[:ircd_version]} %>/run\r"
}

# Create it?
expect "*Create it?\\r\\n\[y\] " {
	send "\r"
}

# User group
expect "*\[\] " {
	send "\r"
}

# umask for data files
expect "*\[077\] " {
	send "\r"
}

# debug version?
expect "*\[n\] " {
	send "\r"
}

# colorize build?
expect "*\[y\] " {
	send "n\r"
}

# compiled headers?
expect "*\[n\] " {
	send "\r"
}

# extra include dirs?
expect "*\[\] " {
	send "NONE\r"
}

# extra library dirs?
expect "*\[\] " {
	send "NONE\r"
}

# extra cmake arguments?
expect "*\[\] " {
	send "NONE\r"
}