check process ircd with pidfile /home/ec2-user/<%= #{node[:ircd_name]}+'-'+#{node[:ircd_version]} %>/run/pid
  start program = "/usr/bin/perl /home/ec2-user/<%= #{node[:ircd_name]}+'-'+#{node[:ircd_version]} %>/run/<%= #{node[:ircd_name]} %> start" with timeout 30 seconds
  stop program = "/usr/bin/perl /home/ec2-user/<%= #{node[:ircd_name]}+'-'+#{node[:ircd_version]} %>/run/<%= #{node[:ircd_name]} %> stop" with timeout 30 seconds
  if 2 restarts within 2 cycles then exec "sudo shutdown -h now"

check process services with pidfile /home/ec2-user/<%= #{node[:services_name]}+'-'+#{node[:services_version]} %>/run/data/services.pid
  depends on ircd
  start program = "/bin/sh /home/ec2-user/<%= #{node[:services_name]}+'-'+#{node[:services_version]} %>/run/bin/<%= #{node[:services_name]}+'rc' %> start" with timeout 30 seconds
  stop program = "/bin/sh /home/ec2-user/<%= #{node[:services_name]}+'-'+#{node[:services_version]} %>/run/bin/<%= #{node[:services_name]}+'rc' %> stop" with timeout 30 seconds