#!/bin/bash

UpgradeResponse=`sudo yum upgrade --exclude kernel* -y`

AwsBinary=`which aws`
AwsRegion='<%= #{node[node[:environment_name]}][:region]} %>'
SnsTopic='<%= #{node[node[:environment_name]}][:sns_topic]} %>'

# If openssh was upgraded, restart it
if [ `echo "$UpgradeResponse" | grep -oc 'Updating : openssh'` ] ; then
	 sudo service openssh restart
fi

# If openssl was upgraded, publish to SNS
if [ `echo "$UpgradeResponse" | grep -oc 'Updating : openssl'` ] ; then
	OpenSslVersion=`echo "$UpgradeResponse" | grep -Eo 'openssl-([0-9]{1,}\.?){3}[a-z]?'`

	${AwsBinary} --region $awsregion sns publish \
		--topic-arn $SnsTopic \
		--subject 'Server package upgrade requires restart' \
		--message "A package was upgraded ($OpenSslVersion) that will require the ircd to be restarted.\r\nSee the changelog for further details: http://www.openssl.org/news/changelog.html"
fi
